/* Base Values */

table {
  margin-left:25px;
  background-color: silver;
}
tr {
  padding:20px;
  background-color: green;
}
h6 {
  text-align: center;
}
th.tableTitle {
  padding: 10px;
  border-left: 5px solid black;
  border-top: 5px solid black;
  border-right: 5px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
th.tagName,th.tagAttribute {
  padding: 10px;
  border-left: 5px solid black;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  border-top-left-radius: 10px;
  margin-right: 0;
}
th.tagDescription {
  padding: 10px;
  border-right: 5px solid black;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  border-bottom-right-radius: 10px;
  margin-left: 0;
}
th.tagAttribute {
  color: #FFFFFF;
}
/* small device */

@media (max-width:992px) {
  table {
    margin-left:25px;
    background-color: silver;
    border-collapse: collapse;
  }
}
